* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: hsl(20, 50%, 98%);
}
.main {
  /* border: 1px solid red; */
  padding: 2rem;
  width: 100%;
}
/* .hero-container {
  border: 2px solid hotpink;
} */
h2 {
  font-size: 35px;
  margin: 10px 5px 10px 8px;
  font-weight: bold;
  padding-left: 40px;
  /* border: 2px solid yellow; */
}
.flex {
  display: flex;
  justify-content: space-around;
}
/* .flexed {
  border: 3px solid purple;
} */
.flex-1 {
  /* border: 5px solid red; */
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}
.david {
  position: relative;
}

#width {
  width: 250px;
  border-radius: 10px;
}
.bg-color {
  margin-top: 40px;
}
.bg-color p {
  padding: 5px 0;
  font-size: 15px;
  font-weight: 400;
  color: hsl(7, 20%, 60%);
}
.bg-color h5 {
  padding: 5px 0;
  font-size: 16px;
  font-weight: 600;
  color: hsl(14, 65%, 9%);
}
#red {
  color: hsl(14, 86%, 42%);
  font-weight: 700;
}
#minus,
#add {
  cursor: pointer;
}

.button {
  border: 1px solid hsl(12, 20%, 44%);
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
  padding: 10px 20px;
  font-weight: 700;
  position: absolute;
  bottom: 7rem;
  left: 45px;
  background-color: white;
  cursor: pointer;
}

.hide {
  border: 1px solid hsl(12, 20%, 44%);
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  padding: 11px 31px;
  border-radius: 23px;
  font-weight: 700;
  position: absolute;
  bottom: 7rem;
  left: 45px;
  background-color: hsl(14, 86%, 42%);
  visibility: hidden;
}

.span {
  color: white;
}

.emptyCart {
  text-align: center;
  margin: 10px 0;
  /* visibility: hidden; */
}
.emptyCart img {
  width: 200px;
}
.emptyCart p {
  font-size: 18px;
  font-weight: 300;
  color: hsl(12, 20%, 44%);
  padding: 20px 0;
}
.showCart {
  visibility: hidden;
}

.cart {
  /* border: 3px solid red; */
  width: 25%;
  padding: 0 10px;
}

.cartText {
  color: hsl(14, 86%, 42%);
  /* border: 3px solid green; */
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
.total {
  font-size: 17px;
  font-weight: 300;
  padding: 0 15px;
  /* border: 1px solid red; */
  margin: 10px 0;
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.total > :nth-child(1) {
  font-size: 20px;

  font-weight: 300;
}

.total > :nth-child(2) {
  font-size: 35px;
  font-weight: 400;
  margin-right: 3px;
}
/* 
#cartSpan {
   margin-left: 20px; 
} */

#carbon-neutral {
  /* border: 2px solid green; */
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 15px 25px;
  background-color: hsl(13, 31%, 94%);
  border-radius: 10px;
}

#carbon-neutral img {
  margin-right: 5px;
}

#Confirm {
  padding: 20px 25px;
  margin-top: 20px;
  text-align: center;
  color: white;
  font-size: 17px;
  font-weight: 700;
  border-radius: 40px;
  background-color: hsl(14, 86%, 42%);
}

@media screen and (max-width: 500px) {
  .hero-container {
    /* border: 3px solid purple; */
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    /* align-items: center; */
    /* justify-content: center; */
  }
  .main {
    /* border: 3px solid chartreuse; */
    display: flex;
    flex-direction: column;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
  .flexed {
    /* border: 2px solid greenyellow; */
    display: flex;
    flex-direction: column;
  }

  .flex-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #width {
    height: 250px;
    width: 300px;
  }
  .button {
    /* position: absolute; */
    bottom: 6.5rem;
    left: 5.5rem;
    background-color: white;
  }
  .hide {
    /* position: absolute; */
    bottom: 6.5rem;
    left: 5.5rem;
  }
  .cart {
    /* border: 1px solid green; */
    width: 100%;
    padding-bottom: 30px;
  }
  /* #carted {
    height: 300px;
  } */

  .total > :nth-child(2) {
    margin-right: 60px;
  }
  #carbon-neutral {
    /* border: 1px solid gold; */
    width: 93%;
    margin: auto;
    margin-bottom: 10px;
  }
  #Confirm {
    /* border: 4px solid hotpink; */
    /* margin-top: 0px; */
    width: 95%;
    margin: auto;
  }
  .emptyCart p {
    /* border: 1px solid rebeccapurple; */
    font-size: 20px;
  }
}
